pyinstaller ^
--name="TTV2YT" ^
--paths=env\Lib\site-packages ^
--add-data="static;static" ^
--add-data="templates;templates" ^
--add-data="upload_to_youtube.bat;upload_to_youtube.bat" ^
--add-data="upload_to_youtube.py;upload_to_youtube.py" ^
--add-data="youtube-api-creds-web.json;youtube-api-creds-web.json" ^
--add-data="additional_libs/ffmpeg.exe;ffmpeg.exe" ^
--add-data="additional_libs/twitchdl.exe;twitchdl.exe" ^
app.py ^
--icon=app.ico ^
--copy-metadata flask ^
--hidden-import=moviepy ^
--hidden-import=numpy ^
--noconfirm ^