<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.16.5/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
  
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>

    <div data-theme="cupcake" class="artboard phone-2 horizontal artboard-demo mx-auto bg-neutral">
        <form action="/" method="post">
            <button type="submit">Submit</button>
        </form>

        <div class="mx-auto mt-8">
            <h1 class="text-2xl">Title</h1>
        </div>
    </div> 
</body>
</html>